*{
    margin: 0;
    font-family: sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color:#0f1111;
    color: white;
    display: flex;  
    align-items: center; 
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 50px;
    width:100px;
}
.logo{
    background-image: url('amazon_logo.png');
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:1px solid white;
}
/*box2 i.e, delivery part*/
.add-icon{
    display: flex;
    align-items: center;
    margin-left: 14px;    
}
.add-1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left:28px;
}
.add-2{
    font-size: 1rem;
    margin-left: 3px;

}
/* search area */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width:620px;
    height:40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:rgb(255, 157, 0);
    color:#0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
    border-radius: 4px;
}
/* search area done */
/*Sign in part*/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;

}
/*Sign in part ends*/
/*Retrun & Orders*/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/*Return & Orders part ends*/
/*Cart*/
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight: 700;

}
/*Cart End*/
/*Pannel Section*/
.panel{
    background-color: #232f3e;
    color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.all-panel{
    font-size: 0.85rem;
    
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
    
    
}
.panel-ops{
    width:70%;
    font-size: 0.85rem;   
}
.panel-deals{
    font-size:0.9rem;
    font-weight:700;    
}
/*Pannel Section Ends here*/
/*hero section*/
.hero-section{
    background-image: url('hero_image.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
/*shop*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #232f3e;
    margin-bottom:20px;
    margin-top: 0px;

}
.box{
    border:2px solid black;
    height: 400px;
    width:22%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
}
.box-image{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
    text-align: bottom;
}
/**/
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    
}
.foot-panel2 a{
    color: white;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content:space-around ;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
}

